# 데이터 살펴보기

In [109]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
import os

print(os.getcwd())
train = pd.read_csv("data/train_df_errno.csv")
test = pd.read_csv("data/test_df.csv")
sub = pd.read_csv("data/sample_submission.csv")
age = pd.read_csv("data/age_gender_info.csv")

train.shape, test.shape, sub.shape, age.shape

C:\Users\yanghj\Desktop\dacon_parking_demand_competition

((2896, 15), (1008, 14), (150, 2), (16, 23))

In [110]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2896 entries, 0 to 2895
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   단지코드        2896 non-null   object
 1   총세대수        2896 non-null   int64
 2   임대건물구분      2896 non-null   object
 3   지역          2896 non-null   object
 4   공급유형        2896 non-null   object
 5   전용면적        2896 non-null   float64
 6   전용면적별세대수    2896 non-null   int64
 7   공가수         2896 non-null   float64
 8   자격유형        2896 non-null   object
 9   임대보증금       2327 non-null   object
 10  임대료         2327 non-null   object
 11  10분내지하철수    2685 non-null   float64
 12  10분내버스정류장수  2892 non-null   float64
 13  단지내주차면수     2896 non-null   float64
 14  등록차량수       2896 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 339.5+ KB

In [111]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   단지코드        1008 non-null   object
 1   총세대수        1008 non-null   int64
 2   임대건물구분      1008 non-null   object
 3   지역          1008 non-null   object
 4   공급유형        1008 non-null   object
 5   전용면적        1008 non-null   float64
 6   전용면적별세대수    1008 non-null   int64
 7   공가수         1008 non-null   float64
 8   자격유형        1006 non-null   object
 9   임대보증금       828 non-null    object
 10  임대료         828 non-null    object
 11  10분내지하철수    970 non-null    float64
 12  10분내버스정류장수  1008 non-null   float64
 13  단지내주차면수     1008 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 110.4+ KB

# 결측치가 얼마나 될까?

In [112]:
### 결측치를 확인
train.isna().sum()

단지코드            0
총세대수            0
임대건물구분          0
지역              0
공급유형            0
전용면적            0
전용면적별세대수        0
공가수             0
자격유형            0
임대보증금         569
임대료           569
10분내지하철수      211
10분내버스정류장수      4
단지내주차면수         0
등록차량수           0
dtype: int64

In [113]:
test.isna().sum()

단지코드            0
총세대수            0
임대건물구분          0
지역              0
공급유형            0
전용면적            0
전용면적별세대수        0
공가수             0
자격유형            2
임대보증금         180
임대료           180
10분내지하철수       38
10분내버스정류장수      0
단지내주차면수         0
dtype: int64

* 임대보증금, 임대료, 지하철역수, 버스정류장수(train only), 자격유형(test only)

In [114]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0

In [115]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '10분내지하철수', '10분내버스정류장수', '단지내주차면수', '등록차량수'],
      dtype='object')

In [116]:
train['자격유형'].value_counts()

A    1756
D     569
H     155
J     103
C      95
I      49
E      37
L      33
K      33
N      30
B      21
G       9
F       3
M       2
O       1
Name: 자격유형, dtype: int64

In [117]:
mapping = { 'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':7, 'H':8, 'I':9, 'J':10, 'K':11, 'L':12, 'M':13, 'N':14, 'O':15  }
train['자격유형']=train['자격유형'].map(mapping).astype(int)

In [118]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,1,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,1,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,1,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,1,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,1,18433000,149760,0.0,3.0,624.0,205.0

## LinearRegression 모델

In [124]:
#train dataset의 train과 test로 나누기
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# sel = ['총세대수', '전용면적', '전용면적별세대수', '공가수',  '단지내주차면수', '자격유형']
sel = ['총세대수']
X = train[sel]
y = train['등록차량수']

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    random_state=0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2172, 1), (724, 1), (2172,), (724,))

# 모델 만들기

In [125]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_squared_log_error

model = LinearRegression().fit(X_train, y_train)  #모델 생성 후 훈련
pred = model.predict(X_test) #새로운 데이터로 예측
pred

array([ 700.01760929,  462.72795139,  519.88938484,  472.76605678,
        528.25447267,  611.62651463,  545.54232083,  411.97975194,
        532.43701658,  442.37290436,  735.15097814,  449.9014834 ,
        735.15097814,  413.6527695 ,  503.71688172,  408.35488055,
        798.72564559,  405.28768168,  591.82914012,  527.13912762,
        435.12316158,  588.76194125,  652.89428122,  560.59947891,
        534.94654292,  561.15715144,  556.416935  ,  589.87728629,
        481.96765338,  417.55647715,  459.38191626,  393.85539499,
        567.01271291,  481.96765338,  471.09303921,  922.80778162,
        498.69782903,  476.66976443,  519.88938484,  483.64067095,
        492.56343129,  519.05287606,  452.689846  ,  549.44602848,
        477.50627321,  388.27866977,  334.46327145,  507.62058937,
        492.56343129,  986.38244907,  519.88938484,  473.60256556,
        435.6808341 ,  442.65174062,  855.05057026,  863.69449435,
        985.26710403,  710.33455093,  723.71869145,  535.78305171,
        448.50730209,  423.41203863,  485.59252477,  596.01168403,
        368.48129526,  376.0098743 ,  365.97176891,  449.9014834 ,
        575.37780073,  467.18933156,  572.58943813,  726.78589032,
        481.96765338,  438.19036045,  380.75009073,  589.59845003,
        689.70066764,  507.89942563,  986.38244907,  454.92053609,
        492.56343129,  593.78099394,  565.61853161,  620.82811123,
        481.96765338,  573.14711065,  551.95555483,  520.44705737,
        509.5724432 ,  459.93958878,  624.17414636,  502.60153668,
        391.6247049 ,  855.05057026,  651.50009992,  337.25163406,
        519.88938484,  415.88345959,  365.69293265,  553.34973613,
        408.35488055,  960.17184056,  578.4449996 ,  863.69449435,
        485.59252477,  439.86337801,  387.44216099,  559.20529761,
        416.16229585,  645.64453844,  598.52121038,  401.38397403,
        521.84123867,  798.72564559,  399.71095646,  429.54643636,
        481.1311446 ,  587.08892368,  723.71869145,  721.76683763,
        736.82399571,  729.57425293,  434.84432532,  384.65379838,
        546.37882962,  549.44602848,  485.03485225,  723.71869145,
        551.95555483,  456.03588113,  622.77996506,  560.87831517,
        482.80416217,  578.4449996 ,  507.62058937,  509.5724432 ,
        537.45606927,  408.35488055,  454.64169983,  391.6247049 ,
        441.53639557,  566.45504039,  404.17233663,  507.89942563,
        589.59845003,  628.35669027,  487.5443786 ,  648.43290105,
        601.30957298,  548.05184718,  560.87831517,  798.72564559,
        459.38191626,  454.64169983,  560.87831517,  594.33866646,
        587.64659621,  551.11904605,  543.59046701,  548.05184718,
        477.50627321,  376.28871056,  985.26710403,  423.69087489,
        534.94654292,  648.43290105,  443.4882494 ,  507.62058937,
        528.25447267,  439.58454175,  471.09303921,  527.69680015,
        527.13912762,  798.72564559,  546.37882962,  577.32965456,
        422.01785732,  498.97666529,  492.56343129,  446.55544827,
        507.62058937,  396.08608507,  537.45606927,  985.26710403,
        729.57425293,  538.57141431,  529.92749023,  589.59845003,
        527.13912762,  384.09612586,  396.36492133,  450.45915592,
        606.32862568,  714.79593111,  549.44602848,  401.38397403,
        525.46611006,  534.94654292,  457.7088987 ,  447.39195705,
        589.59845003,  507.62058937,  424.24854741,  456.03588113,
        519.88938484,  433.45014401,  655.96148009,  465.516314  ,
        486.42903355,  459.93958878,  435.6808341 ,  454.92053609,
        591.82914012,  520.44705737,  589.87728629,  446.55544827,
        986.38244907,  502.60153668,  435.40199784,  524.62960128,
        700.01760929,  585.97357864,  543.59046701,  589.59845003,
        714.79593111,  648.15406479,  760.52507787,  476.66976443,
        383.53845334,  451.85333722,  503.71688172,  798.72564559,
        620.54927497,  986.38244907,  698.62342798,  372.10616665,
        487.5443786 ,  798.72564559,  609.6746608 ,  604.37677185,
        648.43290105,  413.6527695 ,  468.58351287,  442.37290436,
        610.51116959,  464.95864148,  481.1311446 ,  467.18933156,
        660.70169652,  376.28871056,  798.72564559,  620.82811123,
        452.689846  ,  535.78305171,  566.45504039,  457.7088987 ,
        547.2153384 ,  589.59845003,  476.66976443,  377.12521934,
       1025.41952558,  410.58557063,  985.26710403,  561.15715144,
        487.5443786 ,  620.54927497,  589.87728629,  589.04077751,
        506.78408059,  498.41899277,  593.78099394,  492.28459503,
        723.71869145,  492.56343129,  698.62342798,  720.09382006,
        573.42594691,  636.7217781 ,  589.04077751,  517.65869476,
        559.76297013,  720.09382006,  589.04077751,  710.33455093,
        589.04077751,  492.28459503,  390.50935986,  414.21044202,
        390.2305236 ,  689.70066764,  476.66976443,  476.66976443,
        456.03588113,  432.61363523,  485.31368851,  386.60565221,
        401.94164655,  337.25163406,  528.25447267,  347.28973944,
        587.08892368,  411.97975194,  622.77996506,  411.97975194,
        451.85333722,  620.82811123,  610.51116959,  720.09382006,
        477.50627321,  483.36183469,  551.11904605,  624.17414636,
        481.1311446 ,  589.59845003,  497.86132025,  488.38088738,
        384.65379838,  527.13912762,  452.689846  ,  579.83918091,
        465.79515026,  557.53228005,  524.62960128,  459.93958878,
        591.82914012,  620.82811123,  452.689846  ,  577.60849082,
        589.04077751,  408.35488055,  524.90843754,  403.61466411,
        481.96765338,  774.46689091,  507.62058937,  446.55544827,
        534.94654292,  449.9014834 ,  487.5443786 ,  648.15406479,
        454.64169983,  452.689846  ,  438.19036045,  577.0508183 ,
        498.97666529,  700.01760929,  328.88654623,  768.61132943,
        615.80905854,  437.0750154 ,  489.49623242,  524.90843754,
        768.61132943,  863.69449435,  487.82321486,  560.87831517,
        337.25163406,  729.57425293,  483.08299843,  411.97975194,
        570.07991178,  452.13217348,  620.54927497,  985.26710403,
        377.12521934,  447.39195705,  437.0750154 ,  448.22846583,
        492.56343129,  601.30957298,  710.33455093,  368.48129526,
        448.50730209,  463.56446017,  441.53639557,  481.1311446 ,
        587.08892368,  446.55544827,  560.59947891,  604.37677185,
        863.69449435,  483.64067095,  394.97074003,  414.76811454,
        471.37187547,  447.39195705,  471.37187547,  463.28562391,
        589.59845003,  622.22229254,  855.05057026,  587.08892368,
        415.88345959,  442.65174062,  559.20529761,  397.48026638,
        589.59845003,  547.2153384 ,  534.11003414,  660.70169652,
        492.28459503,  589.59845003,  435.12316158,  459.38191626,
        528.25447267,  674.08583704,  798.72564559,  623.33763758,
        396.36492133,  589.59845003,  594.33866646,  636.7217781 ,
        435.40199784,  481.96765338,  610.51116959,  863.69449435,
        985.26710403,  560.87831517,  986.38244907,  735.15097814,
        587.08892368,  620.54927497,  682.72976112,  986.38244907,
        609.6746608 ,  589.59845003,  723.71869145,  617.76091237,
        671.85514695,  492.56343129,  648.43290105,  416.44113211,
        524.90843754,  434.84432532,  659.58635148,  415.88345959,
        986.38244907,  589.59845003,  645.64453844,  577.32965456,
        798.72564559,  589.04077751,  386.60565221,  490.05390494,
        778.92827108,  573.14711065,  587.08892368,  487.82321486,
        723.71869145,  986.38244907,  617.76091237,  540.8021044 ,
        589.04077751,  774.46689091,  555.30158996,  855.05057026,
        448.50730209,  798.72564559,  439.58454175,  561.15715144,
        528.25447267,  583.74288856,  561.15715144,  396.92259386,
        863.69449435,  573.42594691,  714.79593111,  554.74391744,
        472.76605678,  492.56343129,  440.42105053,  863.69449435,
        435.12316158,  622.77996506,  712.0075685 ,  593.22332142,
        588.76194125,  384.09612586,  436.79617914,  501.7650279 ,
        447.67079331,  729.57425293,  553.34973613,  648.15406479,
        566.45504039,  405.28768168,  721.76683763,  436.79617914,
        589.04077751,  401.38397403,  490.05390494,  446.83428453,
        591.82914012,  504.5533905 ,  454.64169983,  393.85539499,
        655.96148009,  368.48129526,  540.8021044 ,  416.16229585,
        492.56343129,  589.87728629,  540.8021044 ,  485.59252477,
        506.78408059,  579.83918091,  471.37187547,  659.58635148,
        585.97357864,  986.38244907,  475.27558313,  427.59458254,
        410.02789811,  471.09303921,  798.72564559,  457.43006244,
        547.2153384 ,  400.26862898,  798.72564559,  768.61132943,
        589.59845003,  736.82399571,  527.13912762,  720.09382006,
        985.26710403,  437.0750154 ,  620.54927497,  473.88140182,
        424.24854741, 1025.41952558,  510.13011572,  519.33171232,
        457.98773496,  726.78589032,  481.96765338,  435.12316158,
        505.94757181,  559.76297013,  437.63268792,  449.9014834 ,
        396.92259386,  481.96765338,  610.51116959,  960.17184056,
        437.0750154 ,  429.82527262,  401.38397403,  446.55544827,
        524.90843754,  419.78716724,  486.70786982,  468.58351287,
        578.4449996 ,  400.26862898,  723.71869145,  503.43804546,
        526.5814551 ,  720.09382006,  589.59845003,  570.07991178,
        720.09382006,  689.70066764,  606.32862568,  572.58943813,
        714.79593111,  549.44602848,  798.72564559,  444.04592192,
        425.36389245,  442.65174062,  443.20941314,  426.47923749,
        437.63268792,  456.03588113,  798.72564559,  394.97074003,
        587.08892368,  729.57425293,  557.53228005,  527.13912762,
        589.04077751,  604.37677185,  682.72976112,  740.4488671 ,
        579.83918091,  477.50627321,  720.09382006,  441.53639557,
        598.52121038,  591.82914012,  960.17184056,  789.52404899,
        855.05057026,  472.76605678,  620.82811123,  443.4882494 ,
        423.69087489,  534.94654292,  735.15097814,  682.72976112,
        498.41899277,  798.72564559,  740.4488671 ,  588.76194125,
        423.41203863,  369.03896778,  448.22846583,  986.38244907,
        596.29052029,  520.44705737,  570.07991178,  507.62058937,
        538.57141431,  487.5443786 ,  449.9014834 ,  401.38397403,
        986.38244907,  316.61775076,  720.09382006,  636.7217781 ,
        561.15715144,  473.88140182,  577.32965456,  723.71869145,
        477.22743695,  798.72564559,  546.65766588,  682.72976112,
        473.88140182,  473.88140182,  723.71869145,  498.41899277,
        483.36183469,  468.58351287,  740.4488671 ,  710.33455093,
        528.25447267,  454.92053609,  651.50009992,  720.09382006,
        543.59046701,  723.71869145,  474.99674686,  566.45504039,
        682.72976112,  521.84123867,  735.15097814,  446.55544827,
        552.51322735, 1025.41952558,  529.92749023,  617.76091237,
        589.59845003,  524.90843754,  735.15097814,  570.6375843 ,
        551.95555483,  394.97074003,  726.78589032,  399.71095646,
        596.01168403,  464.95864148,  536.89839675,  570.6375843 ,
        435.6808341 ,  551.95555483,  452.689846  ,  440.42105053,
        427.59458254,  386.60565221,  368.48129526,  485.31368851,
        481.1311446 ,  416.16229585,  986.38244907,  549.44602848,
        432.89247149,  659.58635148,  798.72564559,  589.59845003,
        384.65379838,  534.94654292,  465.516314  ,  467.18933156,
        622.77996506,  986.38244907,  396.08608507,  554.74391744,
        560.87831517,  482.80416217, 1025.41952558,  487.5443786 ,
        789.52404899,  424.24854741,  498.69782903,  608.2804795 ,
        437.63268792,  369.03896778,  492.56343129,  461.33377009,
        497.86132025,  585.97357864,  553.07089987,  476.66976443,
        422.01785732,  610.51116959,  438.19036045,  485.03485225,
        723.71869145,  458.26657122,  481.1311446 ,  528.25447267,
        615.80905854,  561.15715144,  660.70169652,  589.87728629,
        439.30570549,  423.41203863,  540.8021044 ,  922.80778162,
        573.14711065,  543.59046701,  440.42105053,  575.37780073])

In [126]:
model.coef_, model.intercept_

(array([0.27883626]), 309.368007980668)

# 모델 평가하기

In [127]:

#평가해보기
'''
MAE(mean absolute error) : 각각의 값에 절대값을 취해서 이를 전부 더한 후, 갯수로 나누어주기
MSE(mean squared error) : (실제값 - 예측값 ) **2 전부 더해서 개수로나누어 준다
RMSE(root mean squared error) : MSE에 루트 씌워준다
'''

######방법 1
print("방법 1")
MAE =  np.mean(abs(y_test - pred))
print("MAE:",MAE)

MSE = mean_squared_error(y_test, pred)
print("MSE:",MSE)
RMSE = mean_squared_error(y_test, pred) ** 0.5
print("RMSE:",RMSE)

dict_dat = {"실제값":y_test, "예측값":pred, "오차":y_test - pred}
dat = pd.DataFrame(dict_dat )
dat['오차절대값'] = abs(dat['오차'])
dat['오차제곱'] = dat['오차'] ** (2)

######방법 2
print("방법 2")
print("MAE:", sum(dat['오차절대값'])/len(dat['오차절대값']))
print("MSE:", sum(dat['오차제곱'])/len(dat['오차제곱']))
print("RMSE:", sum((dat['오차제곱'])/len(dat['오차제곱']))**0.5)

방법 1
MAE: 315.4678535607197
MSE: 177994.0704782866
RMSE: 421.8934349788897
방법 2
MAE: 315.4678535607197
MSE: 177994.07047828645
RMSE: 421.8934349788896

In [123]:
#결정계수 구하기
print("학습(score):", model.score(X_train,y_train)) #결정계수
print("테스트(score):", model.score(X_test,y_test))

학습(score): 0.7841317088048964
테스트(score): 0.7870026023335941